.Menu {
    height: 80px;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(251, 220, 217, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 1;
}

.Menu.open{
    opacity: 1;

}

.Menu:hover{
    opacity: 1;

}