.participantList {
  width: 400px;
  background-color: rgb(233, 79, 65);
  height: 100%;
  position: fixed;
  right: 0;
  transform:translateX(100%);
  transition: transform 240ms ease-out;
  z-index: 3;
}

.participantList_title {
  width: 100%;
  height: 90px;
  padding-left: 40px;
  color: #F9F9F9;
  display: flex;
  align-items: center;
}

.participantList_participant {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color:#ff685a;
  border: none;
}

.participantList_icon {
  width: 34px !important;
  height: 34px !important;
  margin-right: 20px;
  margin-left: 70px;
  color:  rgb(251, 220, 217);
}

.participantList_name {
  color: #F9F9F9;
  font-size: 18px;
  font-weight: 500;
}


.open {
  transform:translateX(0);
}