.background {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(40, 42, 43);
  height: 100%;
}

.container {
  position: relative;
  flex: 1;
}

.innerContainer {
  display: flex;
  width: 888px;
  height: 379px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(40, 42, 43, 0.3);
  overflow: hidden;
  position: relative;
  margin: auto;
  /* [theme.breakpoints.down(sm)]: {
    display: block;
    height: auto;
    width: calc(100% - 40px);
    margin: auto;
    maxWidth: 400px;
  } */
}

swooshContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: Swoosh;
  background-size: cover;
  width: 296px;
  /* [theme.breakpoints.down(sm)]: {
    width: 100%;
    height: 100px;
    backgroundPositionY: 140px;
  }; */
}

logoContainer {
  position: absolute;
  width: 210px;
  text-align: center;
  /* [theme.breakpoints.down(sm)]: {
    display: flex;
    alignItems: center;
    width: 90%;
    textAlign: initial;
    & svg: {
      height: 64px;
    };
  }; */
}

twilioLogo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}

content {
  background: white;
  width: 100%;
  padding: 4em;
  flex: 1;
  /* [theme.breakpoints.down(sm)]: {
    padding: 2em;
  }; */
}

title {
  color: white;
  margin: 1em 0 0;
  /* [theme.breakpoints.down(sm)]: {
    margin: 0;
    fontSize: 1.1rem;
  }; */
}

subContentContainer {
  position: absolute;
  margin-top: 1em;
  width: 100%;
}