.participant {
  position: relative;
  height: auto;
  z-index: 1;
  height: 100%;
  background-color:  rgb(233, 79, 65);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: 500ms join ease-in-out;
  border-radius: 3%;
  margin-right: 10px;
}

.participant_name{
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.participant_video {
  width: 100%;
  height: 100%;
  max-height: 720px;
  object-fit: contain;
  transition: opacity 240ms ease-out;
  transition: 240ms ease-in-out;
  border-radius: 3%;  
}