.startFormContainer {
  display: block;
  max-width: 480px;
  text-align: center;  
}

.startForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  margin-top: 20px;
}

.startForm_input {
  width: 280px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 8%;
  border: 1px solid rgb(232, 233, 232);
}

.startForm_button {
  color: #FFF;
  background-color:rgb(233, 79, 65);
  padding: 10px;
  border-radius: 8%;
  transition: 0.2s;
  border: none;
  font-weight: bold;
}

.startForm_button:hover {
  /* opacity: 80%; */
  background-color:  #fff;
  color: rgb(233, 79, 65);
  border: 1px solid rgb(233, 79, 65)
}