.room {
    width: 100%;
    height: 100%;
    margin-right: 0;
    transition: margin-right 240ms ease-out;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    width: 100%;
    align-content: center;
    justify-items: center;
    overflow: hidden;
}