.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color: #FFF;
}

body, html {  
  height: 100%;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#root{
  width: 100%;
  height: 100%;
}